.card{
    /* align-items: center; */
    margin-left: 5%;
    margin-right: 5%;
    /* max-width: 90%;
    justify-content: center; */
    border-radius: 12px;
    /*box-shadow: 0 1px 8px rgba(173, 55, 55, 0.25); */
}